################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/ports&tracking_column_descriptions.csv
/ports.csv
/tracking.csv
/voyages.csv
/predict.csv